.first {
	margin: 0 auto;
	display: flex;
}
.left {
	width: 270px;
	height: 500px;
	background-color: #49a4ff;
	float: left;
	color: black;
	border-radius: 50px;
	margin-left: 5rem;
}

.right {
	width: 270px;
	height: 500px;
	background-color: #49a4ff;
	float: right;
	color: rgb(0, 0, 0);
	border-radius: 50px;
	margin-left: 1rem;
}

.text {
	padding-left: 1.5rem;
}

.image {
	width: 270px;
	height: 180px;
}

.maps {
	width: calc(100vw - 750px);
}

.map-canvas {
	border: none;
	margin: 0 auto;
	left: 750px;
	width: 30rem !important;
	height: 30rem !important;
	display: flex;
	float: left;
	margin-left: 10rem;
}

.searchResults {
	align-items: center;
	margin-left: 10rem;
}

a {
	color: rgb(225, 0, 0);
}
