.first {
	margin: 0 auto;
}
.left {
	width: 270px;
	height: 500px;
	background-color: #1976d2;
	float: left;
	color: white;
}

.right {
	width: 270px;
	height: 500px;
	background-color: #1976d2;
	float: right;
	color: white;
}

.text {
	padding-left: 1.5rem;
}
